litgpt
lightning
--index-url https://mirrors.aliyun.com/pypi/simple/
--extra-index-url https://download.pytorch.org/whl/cu128
torch>=2.10.0,<2.11
torchvision>=0.25.0,<0.26
torchaudio>=2.10.0,<2.11
pyyaml
requests
wandb
tokenizers
datasets
